venv
pipeline_architecture.jpg
.env
airflow/logs/
airflow-webserver.pid
airflow.cfg
airflow.db
standalone_admin_password.txt
webserver_config.py
airflow/dags/football_players/football_players_data_config.json
football_players_data.json
__pycache__/